* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  background-color: white;
}

.page-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}


h6 {
  font-size: 50px;
  font-family: sans-serif;
  font-style: normal;
}

.body {
  max-width: 300px
  border-bottom: 2px solid grey;
  border: 2px;
  border-color: #cacaca;
  }


.header {
  background: linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(http://up357.siz.co.il/up1/ylbdtnml4hjn.jpg);
  background-size: cover;
  list-style-type: none;
  width:105%;
  max-height: 300px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0, auto;
  margin-bottom: 0, auto;
}

.nav-bar {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin: 0;
  font-size: 2vmax;
}

.nav-bar-wrapper {
  width: 100%;
}

.wave {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  float: left;
}

.wave img {
  width: 20px%;
  height: 20px;

}

.blog {
  width: 45%;
  display: inline-block;
  float: left;
  margin-top: 2%;
  margin-left: 10%;


}

.blog a {
  display: inline-block;
  float: left;
  text-align: left;
  text-decoration: none;
  color: rgb(8, 52, 82);
  margin-left: 2%;


}

.right-header {
  display: inline-block;
  width: 30%;
  float: right;
  text-align: right;
  margin-top: 2%;
  margin-right: 10%;
}

.right-header a {
  text-decoration: none;
  color: rgb(8, 52, 82);
  margin: 1%;
}

.header h6 {
  font-size: 7vmax ;
  font-weight: lighter;
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 8%;
}

.header p {
  margin: 0;
  width: auto;
  height: 100%;
  font-size: 1vmax;
  color: black;
  text-align: center;
  margin-bottom: 20%;
}


.section1 {
  float: left;
  width: 50%;
  margin-left:10%
}

.section1 p {
  font-size: 1.5vmax;
}

.topnavbar li {
  display: inline;
  width: 100%;
}

section h2 {
  font-size: 35px;
  width: auto;
  text-align: left;
}

aside {
  float: right;
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  margin-top: 5%;
  text-align: center;
}

.benie-guy {
  background:linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/benie_guy.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  display:block;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 3px;
  border-color: black;
  text-align: center;
}


.aside1 h1 {
  display:block;
  font-size: 2vmax;
  text-align: center;
  margin: 0;


}

.aside1 ul {
  display: inline-block;
  width: 90%;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.aside1 ul li {
  display: inline-block;
  width: 30%;
  list-style-type: none;
  font-size: 1vmax;
  text-align: center;
  margin-right: .5%;
}

.paddling-girl {
  width: 100%;
  height: 200px;
  background:linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/paddleboard+girl.jpg) center center;
  margin-top: 20%;
  margin-bottom: 30%;
}

.paddling-girl-wrapper h3 {
  width: 70%;
  text-align: left;
  font-size: 1.6vmax;
  font-weight: 600;
}

.aside1 p {
  text-align: left;
  font-size: 1.5vmax;
}

.section2 {
  float: left;
  width: 50%;
  margin-left:10%;
  display: inline-block;
}

.section2 div {
  border-left: 3px
}

.section2 h3 {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: inline-block;
  float: left;
  color:#232252;
  border-left: 2px;
  border-color: #cacaca;

}

.section2 div p {
  float: left;
  text-align: left;
  font-size: 1.5vmax;
}

.woah {
  width: 100%;
  height: 100%;
  border: 2px;
  border-color: black;
}

.section3 {
  display: hidden;
  width: 100%;
}


.footer {
  width: 95%;
  margin-left: 2.5%;
}

.footer-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-top: 2px solid grey;
}

.footer div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: color: rgb(8, 52, 82);
}


.footer h2 {
  font-size: 5vmax;
  border-color: #cacaca;
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 2px;
  font-weight: 400;
}

.image-wrapper {
  width: 100%;
  margin-left: 2.5%;
  margin-right: auto;
}


.image-wrapper div p {
  width: 80%;
  height: 20%;
  text-align: left;
  font-size: 1.5vmax;
  position: relative;
  top: 75%;
  left: 3%;
  margin: 0;
  color: white;
  font-size: 1.7vmax;
}



.kelly-slater {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/kelly-slater-portrait.jpg) center center no-repeat;
  background-size: cover;
  margin: auto;
  padding: 0;
  border: 0;
}

.kelly-slater:hover {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0), rgba(30, 110, 176, 0)), url(images/kelly-slater-portrait.jpg) center center no-repeat;
  background-size: cover;
  margin: auto;
  padding: 0;
  border: 0;
}

.beer {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/beer-glasses.jpg) center center no-repeat;
  background-size: cover;
  margin: 0;
}

.beer:hover {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/beer-glasses.jpg) center center no-repeat;
  background-size: cover;
  margin: 0;
}

.zac {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/zach-gal.jpeg) center center no-repeat;
  background-size: cover;
  margin: 0;
}

.zac:hover {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0), rgba(30, 110, 176, 0)), url(images/zach-gal.jpeg) center center no-repeat;
  background-size: cover;
  margin: 0;

}

.liquor {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0.7), rgba(30, 110, 176, 0.7)), url(images/liquor_bottles.jpg) center center no-repeat;
  background-size: cover;
}

.liquor:hover {
  display: inline-flex;
  width: 24%;
  height: 225px;
  background: linear-gradient(to right, rgba(30, 110, 176, 0), rgba(30, 110, 176, 0)), url(images/liquor_bottles.jpg) center center no-repeat;
  background-size: cover;
}

.bottom-nav {
  display: flex;
  align-items: center;
  background-color: rgb(0, 51, 80);
  width: 98%;
}

.copyright {
  display: inline-block;
  width: 100%;
  float: left;
  height: 50%;
  text-align: left;
  font-size: 1vmax;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav-item {
  display: inline-block;
  width: 50%;
  float: right;

}

.nav-item ul li{
  list-style-type: none;
  display: inline-block;
  font-size: 1vmax;
}
